* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(45deg, #0074d9, #39cccc 51%, #0074d9);
  position: sticky;
  top: 0px;
}
.navbar {
  /* border: 2px solid black; */
  padding: 11px 40px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
}

.btn-container {
  /* border: 2px solid red; */
  height: 150px;
  width: 200px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
button {
  height: 70px;
  width: 150px;
  border: none;
  background: #0074d9;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  background: #39cccc;
}
button:active {
  background-color: #0074d9;
}
.doggos {
  margin-top: 40px;
  /* border: 2px solid yellow; */
}
